@model MyDiary.Models.Story

@{
    //Layout = "";
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CreateNewCSS.css" rel="stylesheet" type="text/css" />
</head>
<body id="edit">
    @using (Html.BeginForm("Edit", "Stories", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-horizontal">

                <div>
                    <a href="@Url.Action("Index")" class="backbtn"><img src="~/Img/Buttons/BackButton-gray.png" onmouseover="$('.backbtn img')[0].src = '../../Img/Buttons/BackButton-color.png'" onmouseout="$('.backbtn img')[0].src = '../../Img/Buttons/BackButton-gray.png'" style="width:200px;" /></a>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                <div class="row">
                    <div class="bdy">
                        <div class="form-group">
                            <span class="col-md-3">Name of Story: </span>
                            <span class="col-md-9">
                                @Html.EditorFor(model => model.Story_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Story_Name, "", new { @class = "text-danger" })
                            </span>
                        </div>

                        <div class="form-group">
                            <sapn class="col-md-3">Date: </sapn>
                            <span class="col-md-9">
                                @Html.EditorFor(model => model.Create_Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Create_Date, "", new { @class = "text-danger" })
                            </span>
                        </div>

                        <div class="form-group">
                            <span class="col-md-3">Story: </span>
                            <span class="col-md-9">
                                @Html.TextAreaFor(model => model.Story1, new { @placeholder = "Enter your story here!" })
                            </span>
                        </div>

                        <div class="form-group">
                            <span class="col-md-3">Image: </span>
                            <span class="col-md-9">
                                <input type="file" name="Image" value="Image" />
                            </span>
                        </div>

                        <div class="form-group">
                            <span class="col-md-3">Rating: </span>
                            <div class="col-md-9">
                                @Html.HiddenFor(model => model.Rating)
                                <div>
                                    @{

        for (int i = 0; i < 5; i++)
        {
            if (i < 3)
            {
                <button type="button" class="btn bookrating glyphicon glyphicon-star bookrating"></button>
            }
            else
            {
                <button type="button" class="btn bookrating glyphicon glyphicon-star-empty bookrating"></button>

            }
        }

                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-toolbarrr" />
                </div>
            </div>
        </div>
    }
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p style="color:white">Copyright &copy; Alexander Ivanov SaSu</p>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Scripts/JavaScript.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/JS.js" type="text/javascript"></script>
    <script src="js/jquery.js" type="text/javascript"></script>

</body>
</html>
